html, body, #react-app {
	height: 100%;
	font-family: 'Roboto';
}

.container-fluid {
	background-color: #161616;
	color: white;
}

.header, .sun {
	font-size: 5em;
}

.weather p {
	display: inline;
	font-size: 2em;
}

.weather #temp-unit {
	color: blue;
	font-size: 1.9em;
}

.weather #temp-unit:hover {
	cursor: pointer;
	color: #004f94;
}

.sun i {
	animation: rotating 20s linear infinite;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}