html, body, #react-app {
	height: 100%;
}

#react-app {
	background-color: #161616;
	font-family: 'Roboto';
}

.container-fluid {
	color: white;
}

a {
	color: #006dcc;;
}

.header {
	margin-top: 2%;
}

.header, .sun {
	font-size: 5em;
}

.weather p {
	display: inline;
	font-size: 2em;
}

.col-xs-12 {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

.weather #temp-unit {
	color: #006dcc;
	font-size: 1.9em;
}

.weather #temp-unit:hover {
	cursor: pointer;
	color: #004f94;
}

.sun i {
	animation: rotating 20s linear infinite;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}